/* BT Count */
/* .inline {
    display: flex;
    align-items: center;
}
.element {
    width: 50px;
    margin: 3px;
} 
.inline > p {
    text-align: center;
} */

/* BT click vào mất ảnh */
/* .css {
    width: 700px;
    height: 700px;
} */

/* BT click vào hiện chó mèo */
/* #img {
    width: 1000px;
    height: 1000px;
}

button {
    width: 100px;
    height: auto
} */
